<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit your post</title>
  </head>
  <body>
    <h1>Edit your post</h1>
    <h2>Post id : <%= post.id %></h2>
    <h3>username : <%= post.username %></h3>
    <form action="/posts/<%= post.id%>?_method=PATCH" method="post">
      <textarea name="content" id=""> <%= post.content %></textarea>
      <button>submit</button>
    </form>
  </body>
</html>
